/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.p-2 {
  padding: 1rem;
}
.loading-animation {
  animation: bgColor 1.5s ease-out infinite;
}
@keyframes bgColor {
  0% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: #dbdbdb;
  }
  100% {
    background-color: #f2f2f2;
  }
}
